#site-header {   
    z-index: 999;

    .navbar {
        padding: 20px 0;
        max-height:100px; 
    }
    .container{
        margin-top: 0
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        #Layer_1 {
            margin-left: 30px;
            margin-right: 10px;
        }
    }

    .nav-item {
        padding-left: 10px;
        padding-right:10px;
        list-style-type: none;
    }

    #login-btn {
        border-radius: 25px;
        text-transform: uppercase;
        background-color: #78A2CC;
        color: white;
        margin-right: 30px;
        font-size: 15px;
        font-weight: bold;
        padding: 15x;
    }

    #profileDropdown {
        font-size: 18px;
    }

}